@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: Arial, Helvetica, sans-serif;
}
li>ul                 { transform: translateX(100%) scale(0) }
  li:hover>ul           { transform: translateX(100%) scale(1) }
  li > button svg       { transform: rotate(-90deg) }
  li:hover > button svg { transform: rotate(-270deg) }

  
  .group:hover .group-hover\:scale-100 { transform: scale(1) }
  .group:hover .group-hover\:-rotate-180 { transform: rotate(180deg) }
  .scale-0 { transform: scale(0) }
  .min-w-32 { min-width: 8rem }
  .-z-0{
    z-index: -0 !important;
  }
  #tabs button:hover{
    color: #000;
  }
  .hover\:fill-yellow-400:hover {
    fill: #fccf3a;
  }
  
  .button-aye {
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .button.button--aylen {
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
  }
  .button--aylen::before,
  .button--aylen::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 100%;
    left: 0;
    z-index: -1;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  }
  .button--aylen::before {
    background: #a0aec0;
  }
  .button--aylen::after {
    background: #fccf3a;
  }
  .button--aylen:hover::before,
  .button--aylen:hover::after {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  .button--aylen:hover::after {
    -webkit-transition-delay: 0.175s;
    transition-delay: 0.175s;
  }
  

  @media screen and (max-width: 767px) and (min-width: 320px) {
    .main-banner .swiper-slide{ display: none}
    li:hover>ul { transform:none}
    .menu-height{
      height:  450px;
    }
    .bg-cover.bg-center img{
      max-width: inherit;
    }
  }
  